  <!--Housing form Component-->
  <form>
    <div>
        <p>
            Do you rent or own your home?
        </p>

        <input type="radio" name="rentOwn" value ="rent" required />
        <label>Rent</label>

        <input type="radio" name="rentOwn" value="own" required />
        <label>Own</label>
    </div>

    <div>
        <label>How much do you pay per month?</label>
        <input type="number" placeholder="Enter an estimate in $" required />
    </div>

    <div>
        <p>
            *Experts suggest that housing cost is no more than 30% of your monthly "take-home" pay.
        </p>

    </div>

    <div>
        <button type="button">Back</button>
        <button type="submit">Next</button>
    </div>
</form>

<script>

</script>
