<!-- Author - Ashim Chalise-->

<app-toolbar></app-toolbar>

<section class="hero is-info is-fullheight is-bold">
  <div class="hero-body">
    <div class="columns">
      <div class="column">
        <h4 class="has-text-centered is-bold has-text-black-bis">
          <b>Who needs us</b>
        </h4>
        <br />
        <figure class="image">
          <img src="assets/img/Sad.png" />
        </figure>
      </div>
      <br />
      <div class="column">
        <h1 class="has-text-centered is-bold has-text-black-bis">
          <b>What we do</b>
        </h1>
        <br />
        <figure class="image">
          <img src="assets/img/Happy.png" />
        </figure>
      </div>
    </div>
  </div>
</section>
