<!--Lavante Hammond-->

<nav class="navbar is-dark">

    <!-- logo -->
    <div class="navbar-brand">
      <a routerLink = "" class="navbar-item">
        <img src="assets/img/MyFyLogo.png">
      </a>
    </div>
    <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-end">
    <div class="navbar-item">
        <div class ="dropdown is-active">
            <div clas="dropdown-trigger">
                <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">                     
                </button>
            </div>
        </div>
        <div class="dropdown-menu" id="dropdown-menu" role="menu">
            <div class="dropdown-content">
              <a href="#" class="dropdown-item">
                Make a bud-e
              </a>
              <a class="dropdown-item">
                Find a bud-e
              </a>
              <a href="#" class="dropdown-item">
                Manage a bud-e
              </a>
              <a href="#" class="dropdown-item">
                Educational Area
              </a>
    </div>
  </div>
</div>
