<!--Lavante Hammond-->

<nav class="navbar is-dark">

  <!-- logo -->
  <div class="navbar-brand">
    <a routerLink="" class="navbar-item">
      <img src="assets/img/MyFyLogo.png">
    </a>
  </div>
  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-end">
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          menu
        </a>
        <div class="navbar-dropdown is-right">
          <a href="dashboard" class="navbar-item"> Dashboard </a>
          <a on-click="go_analytics()" class="navbar-item"> Analytics </a>
          <hr class="navbar-divider" />
          <a href="settings" class="navbar-item"> Account settings </a>
        </div>
      </div>
    </div>
  </div>
</nav>