
<head>
  <meta name="viewport" content="width=device-width, initital-scale=1">
  <style>
  </style>
</head>

<body>
  <!--Toolbar-->
  <app-dashboard-toolbar></app-dashboard-toolbar>
  <!--Intro-->
  <section class="hero is-info">
    <div class="hero-body">
      <div class="container has-text-centered">
        <div class="notification is-primary">
          <h1><strong>{{message}}</strong></h1>
        </div>
    </div>
    <br>

  <!--Portfolio-->
  <div class="portfolio">
    <app-dash></app-dash>
  </div>
