<body>
  <head>
    <meta name="viewport" content="width=device-width, initital-scale=1" />
    <style>
      .bordered {
        border: 2px solid black;
      }
      .styled-table {
        border-collapse: collapse;
        margin: 25px 0;
        font-size: 0.9em;
        font-family: sans-serif;
        min-width: 400px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
      }
    </style>
  </head>
  <app-dashboard-toolbar></app-dashboard-toolbar>

  <section class="hero is-info is-bold bordered">
    <div class="card has-text-centered has-background-success">
      <div class="card-content" id="settingsDiv">
        <div class="content is-size-3 has-text-light is-bold">
          Dashboard
          <br />
        </div>
      </div>
    </div>
  </section>
  <section class="hero is-info is-fullheight is-bold">
    <div
      class="is-info is-fullheight has-text-centered is-bold"
      style="display: inline-flex; height: 50%; float: left"
    >
      <div
        class="content is-size-3 has-text-light is-bold"
        style="width: 33%; padding: 5px; float: left"
      >
        <br />
        <b>Incomes</b>
        <br />
        <form id="incomeForm" on-submit="dataType('Income')">
          <input type="text" id="incomeName" placeholder="name" required />
          <input type="number" id="incomeWage" placeholder="wage" required />
          <select id="incomeFreq">
            <option>Weekly</option>
            <option>Bi-Weekly</option>
            <option>Monthly</option>
            <option>Bi-Monthly</option>
          </select>
          <input type="submit" />
        </form>
        <br />
        <table class="table is-bordered is-striped is-narrow" id="incomeTable">
          <tr>
            <th>Name</th>
            <th>Wage</th>
            <th>Frequency</th>
            <th></th>
          </tr>
        </table>
      </div>
      <div
        class="content is-size-3 has-text-light is-bold"
        style="width: 33%; padding: 5px; float: left"
      >
        <br />
        <b>Debts</b>
        <br />
        <form id="debtForm" on-submit="dataType('Debt')">
          <input type="text" id="debtName" placeholder="name" required />
          <input type="number" id="debtAmount" placeholder="amount" required />
          <input type="number" id="debtRate" placeholder="rate" required />
          <select id="debtFreq">
            <option>Weekly</option>
            <option>Bi-Weekly</option>
            <option>Monthly</option>
            <option>Bi-Monthly</option>
          </select>
          <input type="submit" />
        </form>
        <br />
        <table class="table is-bordered is-striped" id="debtTable">
          <tr>
            <th>Name</th>
            <th>Balance</th>
            <th>Rate</th>
            <th>Frequency</th>
            <th></th>
          </tr>
        </table>
      </div>
      <div
        class="content is-size-3 has-text-light is-bold"
        style="width: 33%; padding: 5px; float: left"
      >
        <br />
        <b>Expenses</b>
        <br />
        <form id="expenseForm" on-submit="dataType('Expense')">
          <input type="text" id="expenseName" placeholder="name" required />
          <input type="number" id="expenseCost" placeholder="amount" required />
          <input type="submit" />
        </form>
        <br />
        <table class="table is-bordered is-striped" id="expenseTable">
          <tr>
            <th>Name</th>
            <th>Cost</th>
            <th></th>
          </tr>
        </table>
      </div>
    </div>
  </section>
</body>
