<!--Income form component-->
<form>
    
    <div>
        <p>How often do you get paid?</p>

        <input type="radio" name="paid" value="weekly" required />
        <label>Weekly</label>

        <input type="radio" name="paid" value="biweekly" required />
        <label>Biweekly</label>

        <input type="radio" name="paid" value="monthly" required />
        <label>Monthly</label>

    </div>

    <div>
        <p>
            Do you have more than one source of income?
        </p>

        <input type="radio" name="sources" value="yes" required />
        <label>Yes</label>

        <input type="radio" name="sources" value="no" required />
        <label>No</label>
    </div>

    <div>
        <label>How many?</label>
        <input type="number" disabled />
    </div>

    <button type="submit">Next</button>
</form>

<script>

</script>
