<!--Author- Ashim Chalise-->
<!--This html page is for our toolbar that is on top and helps us navigate through the different pages.-->

<nav class="navbar is-dark">
<!--We have the color, and different buttons here to navigate.-->

    <!-- logo of our site. -->
    <div class="navbar-brand">
      <a routerLink = "" class="navbar-item">
        <img src="assets/img/MyFyLogo.png">
      </a>
    </div>
    <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a routerLink="/education" class="navbar-item">
        Educational Area
      </a>

      <a routerLink="/who-is-it-for"class="navbar-item">
        Who's it for
      </a>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          More Options
        </a>

        <div class="navbar-dropdown">
          <a routerLink = "/contact" class="navbar-item">
            Contact Us
          </a>
          <hr class = "navbar-divider">
          <a routerLink="/teaminfo" class="navbar-item">
            About the team
          </a>
        </div>
      </div>
    </div>
    <div class="navbar-end">
    <div class="navbar-item">
      <div class="buttons">
        <a routerLink="/accountsetup" class="button is-primary">
          <strong>Sign up</strong>
          </a>
        <a routerLink = "/login" class="button is-light">
        Log In
        </a>
      </div>
    </div>
  </div>
</div>
</nav>