<form>
    <div>
        <table style="width: 100%">
            <tr>
                <td>Source of Income</td>
                <td>Monthly Earnings</td>
                <td>Weekly</td>
                <td>Biweekly</td>
                <td>Monthly</td>
            </tr>
            <tr>
                <td><input type="text" size="50" /> </td>
                <td><input type="number"> </td>
                <td><input type="radio" name="frequency" value="weekly" /></td>
                <td><input type="radio" name="frequency" value="biweekly" /></td>
                <td><input type="radio" name="frequency" value="monthly" /></td>
            </tr>
            <tr>
                <td><input type="text" size="50" /> </td>
                <td><input type="number"> </td>
                <td><input type="radio" name="frequency" value="weekly" /></td>
                <td><input type="radio" name="frequency" value="biweekly" /></td>
                <td><input type="radio" name="frequency" value="monthly" /></td>
            </tr>
        </table>
    </div>

    <div>
        <button type="button">Back</button>
        <button type="submit">Next</button>
    </div>
</form>

<script>

</script>
