<!DOCTYPE html>
<html>
  <body>
    <app-toolbar></app-toolbar>

    <section class="hero is-info is-small is-bold">
      <div class="hero-body">
        <div class="container is-max-desktop has-text-centered">
          <div class="notification is-primary">
            <h1>
              <strong
                >Welcome to our Education Area! Learn to better your finances
                with our awesome content. Below we have some content written for
                our valuable user to read. If you have finsihed reading, you
                will find some our team-picked youtube videos to help you invest
                and better your finances. Enjoy them all and happy investing!<br />
                MyFy - All your finances in one place.</strong
              >
            </h1>
          </div>
        </div>
        <br />
        <br />
        <div class="columns">
          <div class="column">
            <div class="container is-max-desktop has-text-centered">
              <div class="notification is-black">
                <h1><strong>Housing (25-35%) </strong></h1>
              </div>
            </div>
            <div class="container is-max-desktop">
              <div class="notification is-success">
                <h1>
                  Anything you pay toward keeping a roof over your head is
                  considered a housing expense, including rent or mortgage
                  payments, property taxes, HOA dues, and home maintenance
                  costs. For most budgeters, this category is by far the
                  biggest.
                </h1>
              </div>
            </div>
            <br />
            <div class="container is-max-desktop has-text-centered">
              <div class="notification is-black">
                <h1><strong>Transportation (10-15%)</strong></h1>
              </div>
            </div>
            <div class="container is-max-desktop">
              <div class="notification is-success">
                <h1>
                  Regardless of location and lifestyle, everyone needs to get
                  from point A to point B. This is why transportation is
                  considered an essential cost. Typically, this category
                  includes car payments, registration and DMV fees, gas,
                  maintenance, parking, tolls, and public transit.
                </h1>
              </div>
            </div>
            <br />
            <div class="container is-max-desktop has-text-centered">
              <div class="notification is-black">
                <h1><strong>Food (10-15%)</strong></h1>
              </div>
            </div>
            <div class="container is-max-desktop">
              <div class="notification is-success">
                <h1>
                  Groceries, of course, are an essential expense for every
                  family. Many budgeters also include dining out in this
                  category (e.g., restaurant meals, work lunches, food delivery,
                  etc.) However, if you’re someone who tends to spend a
                  significant amount of money on things like gourmet food and
                  wine, you may want to put your non-grocery food expenses into
                  one of the non-essential categories.
                </h1>
              </div>
            </div>
            <br />
            <div class="container is-max-desktop has-text-centered">
              <div class="notification is-black">
                <h1><strong> Utilities (5-10%)</strong></h1>
              </div>
            </div>
            <div class="container is-max-desktop">
              <div class="notification is-success">
                <h1>
                  Water, electricity, and HVAC (heating, ventilation, and air
                  conditioning) are vital to practically every well-functioning
                  household. Your utilities category should include all the
                  expenses that keep these services up and running, including
                  your gas, electricity, and water and sewage bills. For most
                  families, it should also include cell phone, cable, and
                  internet expenses.
                </h1>
              </div>
            </div>
            <br />
            <div class="container is-max-desktop has-text-centered">
              <div class="notification is-black">
                <h1><strong> Insurance (10-25%)</strong></h1>
              </div>
            </div>
            <div class="container is-max-desktop">
              <div class="notification is-success">
                <h1>
                  This is one category that depends very much on your budgeting
                  preferences. Many budgeters prefer to categorize things like
                  health insurance under “Healthcare” or auto insurance under
                  “Transportation”—a completely valid option. If you choose to
                  follow our guidelines for this category, it should include
                  health insurance, homeowner’s or renter’s insurance, home
                  warranties or protection plans, auto insurance, life
                  insurance, and disability insurance.
                </h1>
              </div>
            </div>
          </div>
          <br />
          <div class="column">
            <div class="container is-max-desktop has-text-centered">
              <div class="notification is-black">
                <h1><strong> Medical & Healthcare (5-10%)</strong></h1>
              </div>
            </div>
            <div class="container is-max-desktop">
              <div class="notification is-success">
                <h1>
                  Few would argue that maintaining your health and well-being is
                  essential. This category includes whatever you spend on
                  healthcare that does not include insurance premiums, such as
                  your out-ofpocket costs for primary care, specialty care
                  (dermatologists, psychologists, etc.), dental care, urgent
                  care, prescriptions, and medical devices.
                </h1>
              </div>
            </div>
            <br />
            <div class="container is-max-desktop has-text-centered">
              <div class="notification is-black">
                <h1>
                  <strong> Saving, Investing, & Debt Payments (10-20%)</strong>
                </h1>
              </div>
            </div>
            <div class="container is-max-desktop">
              <div class="notification is-success">
                <h1>
                  Ironically, this often-overlooked (or underfunded) category is
                  arguably the most important. Although saving money doesn’t
                  have much impact on your day-to-day existence, it has
                  everything to do with you and your family’s financial health
                  further down the road. In the world of budgeting, it’s called
                  “paying yourself first.”
                </h1>
              </div>
            </div>
            <br />
            <div class="container is-max-desktop has-text-centered">
              <div class="notification is-black">
                <h1><strong>Personal Spending (5-10%)</strong></h1>
              </div>
            </div>
            <div class="container is-max-desktop">
              <div class="notification is-success">
                <h1>
                  This category is really a catchall that can include anything
                  commonly considered a personal care or “lifestyle” expense.
                  Personal spending can include gym memberships, grooming
                  products, new clothes and shoes, home decor and furnishings,
                  gifts, magazine subscriptions, personal hygiene supplies, dry
                  cleaning expenses—even basic household items like laundry
                  detergent are often categorized as a personal expense.
                </h1>
              </div>
            </div>
            <br />
            <div class="container is-max-desktop has-text-centered">
              <div class="notification is-black">
                <h1>
                  <strong> Recreation & Entertainment (5-10%)</strong>
                </h1>
              </div>
            </div>
            <div class="container is-max-desktop">
              <div class="notification is-success">
                <h1>
                  This is the one category in your budget that really
                  constitutes “fun money.” That’s not to say it’s not an
                  important one, though. For most of us, carving out leisure
                  time (and money) is essential if you want to maintain a
                  healthy work-life balance. This category is really anything
                  that constitutes fun and entertainment for your family. Enjoy
                  this money however you wish—you’ve earned it!
                </h1>
              </div>
            </div>
            <br />
            <div class="container is-max-desktop has-text-centered">
              <div class="notification is-black">
                <h1><strong> Miscellaneous (5-10%)</strong></h1>
              </div>
            </div>
            <div class="container is-max-desktop">
              <div class="notification is-success">
                <h1>
                  This category is reserved for anything you may not have
                  already budgeted for or categorized. Unsurprisingly, it’s
                  highly personalized and varies greatly between people.
                </h1>
                <br />
                <br />
              </div>
            </div>
          </div>
          <br />
          <div class="column">
            <div class="container is-max-desktop has-text-centered">
              <div class="notification is-black">
                <h1><strong>VIDEOS</strong></h1>
              </div>
            </div>
            <br />
            <div class="column">
              <div class="container is-max-desktop has-text-centered">
                <div class="notification is-white has-text-black-bis">
                  <iframe
                    width="915"
                    height="480"
                    src="https://www.youtube.com/embed/EKIhc3tS0os"
                    title="Investing Advice"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen
                  ></iframe>
                </div>
              </div>
              <br />
              <div class="container is-max-desktop has-text-centered">
                <div class="notification is-white has-text-black-bis">
                  <iframe
                    width="915"
                    height="480"
                    src="https://www.youtube.com/embed/gFQNPmLKj1k"
                    title="Stock 101"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen
                  ></iframe>
                </div>
              </div>
              <div class="column">
                <br />
                <div class="container is-max-desktop has-text-centered">
                  <div class="notification is-white has-text-black-bis">
                    <iframe
                      width="915"
                      height="480"
                      src="https://www.youtube.com/embed/HQzoZfc3GwQ"
                      title="Finance 101"
                      frameborder="0"
                      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                      allowfullscreen
                    ></iframe>
                  </div>
                </div>
                <br />
                <div class="container is-max-desktop has-text-centered">
                  <div class="notification is-white has-text-black-bis">
                    <iframe
                      width="915"
                      height="480"
                      src="https://www.youtube.com/embed/stx-x4Qguhc"
                      title="YouTube video player"
                      frameborder="0"
                      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                      allowfullscreen
                    ></iframe>
                  </div>
                </div>
                <br />
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
