<!-- Created and designed by Ashim Chalise-->

<app-toolbar></app-toolbar>

<section class="hero is-info is-halfheight">
    <div class="hero-body">
        <div class="tile is-ancestor">
            <div class="tile is-parent is-4">
                <article class="tile is-child notification is-white">
                  <div class="content">
                    <figure class="image">
                        <img src="assets/img/Ashim.png">
                      </figure>
                    <p class="title has-text-black">Ashim Chalise </p>
                    <p class="subtitle has-text-black">Fullstack Java Developer. (IDK Maybe? lol)</p>
                    <div class="content">
                           I love to code. Worked as a bartender in the past and love bartending! Love creating apps/programs. Connect with me on linkedIn! www.linkedin.com/in/ashimchalise.
                           Some more wonderful stuff about me and I'm the greatest and there we go. Lol.
                    </div>
                  </div>
                </article>
              </div>
              <div class="tile is-parent is-4">
                <article class="tile is-child notification is-white">
                  <div class="content">
                    <figure class="image is-4by3">
                        <img src="assets/img/TopMLogo.png">
                      </figure>
                    <p class="title has-text-black">Brandon Pozil</p>
                    <p class="subtitle has-text-black">what you do?</p>
                    <div class="content">
                            put your description
                    </div>
                  </div>
                </article>
              </div>
              <div class="tile is-parent is-4">
                <article class="tile is-child notification is-white">
                  <div class="content">
                    <figure class="image is-4by3">
                        <img src="assets/img/TopMLogo.png">
                      </figure>
                    <p class="title has-text-black">Jonathan Bacon</p>
                    <p class="subtitle has-text-black">what you do?</p>
                    <div class="content">
                            put your description
                    </div>
                  </div>
                </article>
              </div>
          </div>
    </div>
</section>
<section class="hero is-info is-halfheight">
    <div class="hero-body">
        <div class="tile is-ancestor">
            <div class="tile is-parent is-4">
                <article class="tile is-child notification is-white">
                  <div class="content">
                    <figure class="image">
                        <img src="assets/img/Jay.png">
                      </figure>
                    <p class="title has-text-black">Josiah Stadler</p>
                    <p class="subtitle has-text-black">what you do?</p>
                    <div class="content">
                            put your description
                    </div>
                  </div>
                </article>
              </div>
              <div class="tile is-parent is-4">
                <article class="tile is-child notification is-white">
                  <div class="content">
                    <figure class="image">
                        <img src="assets/img/TopMLogo.png">
                      </figure>
                    <p class="title has-text-black">Lavante Hammond</p>
                    <p class="subtitle has-text-black">what you do?</p>
                    <div class="content">
                            put your description
                    </div>
                  </div>
                </article>
              </div>
          </div>
    </div>
</section>