<!-- Created and designed by Ashim Chalise-->
<!--This website is the information about our team-->

<app-toolbar></app-toolbar>

<!--This is divided into two sections for the team members to fit properly on the page.-->
<section class="hero is-info is-halfheight">
  <div class="hero-body">
    <!--I have used tile component from bulma.io for this site. I have set the name of each and every member
      under the image in single tile.-->
    <div class="tile is-ancestor">
      <div class="tile is-parent is-4">
        <article class="tile is-child notification is-white">
          <div class="content">
            <figure class="image">
              <img src="assets/img/Ashim.png">
            </figure>
            <p class="title has-text-black">Ashim Chalise </p>
            <div class="media">
              <div class="media-left">
                <a href="https://www.linkedin.com/in/ashimchalise">
                  <figure class="image is-48x48">
                    <img alt="LinkedIn" src="assets/img/LinkedIn.png">
                  </figure>
                </a>
              </div>
              <div class="media-content">
                <figure class="image is-48x48">
                  <img alt="GitHub" src="assets/img/GitHub.png">
                </figure>
              </div>
            </div>
          </div>
        </article>
      </div>
      <div class="tile is-parent is-4">
        <article class="tile is-child notification is-white">
          <div class="content">
            <figure class="image">
              <img class="is-rounded" src="assets/img/Brandon.png">
            </figure>
            <p class="title has-text-black">Brandon Pozil</p>
            <div class="media">
              <div class="media-left">
                <a href="https://www.linkedin.com/in/brandon-pozil">
                  <figure class="image is-48x48">
                    <img src="assets/img/LinkedIn.png">
                  </figure>
                </a>
              </div>
              <div class="media-content">
                <figure class="image is-48x48">
                  <img alt="GitHub" src="assets/img/GitHub.png">
                </figure>
              </div>
            </div>
          </div>
        </article>
      </div>
      <div class="tile is-parent is-4">
        <article class="tile is-child notification is-white">
          <div class="content">
            <figure class="image">
              <img src="assets/img/Jon.png">
            </figure>
            <p class="title has-text-black">Jonathan Bacon</p>
            <div class="media">
              <div class="media-left">
                <a href="https://www.linkedin.com/in/jonathan-e-bacon">
                  <figure class="image is-48x48">
                    <img src="assets/img/LinkedIn.png">
                  </figure>
                </a>
              </div>
              <div class="media-content">
                <figure class="image is-48x48">
                  <img alt="GitHub" src="assets/img/GitHub.png">
                </figure>
              </div>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>
<!--Second section.-->
<section class="hero is-info is-halfheight">
  <div class="hero-body">
    <div class="tile is-ancestor">
      <div class="tile is-parent is-4">
        <article class="tile is-child notification is-white">
          <div class="content">
            <figure class="image">
              <img src="assets/img/Jay.png">
            </figure>
            <p class="title has-text-black">Josiah Stadler</p>
            <div class="media">
              <div class="media-left">
                <a href="https://www.linkedin.com/in/josiahstadler">
                  <figure class="image is-48x48">
                    <img src="assets/img/LinkedIn.png">
                  </figure>
                </a>
              </div>
              <div class="media-content">
                <figure class="image is-48x48">
                  <img alt="GitHub" src="assets/img/GitHub.png">
                </figure>
              </div>
            </div>
          </div>
        </article>
      </div>
      <div class="tile is-parent is-4">
        <article class="tile is-child notification is-white">
          <div class="content">
            <figure class="image">
              <img src="assets/img/TopMLogo.png">
            </figure>
            <p class="title has-text-black">Lavante Hammond</p>
            <div class="media">
              <div class="media-left">
                <figure class="image is-48x48">
                  <img src="assets/img/LinkedIn.png">
                </figure>
              </div>
              <div class="media-content">
                <figure class="image is-48x48">
                  <img alt="GitHub" src="assets/img/GitHub.png">
                </figure>
              </div>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>